{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>services</title>
</head>
<body>


<!-- Header -->
<header>
    <div class="logo">ShopWithSimon</div>
    <nav>
        <ul class="navbar">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="faq.html">FAQs</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="cart.html">Cart</a></li>
            <li><a href="track.html">Track Orders</a></li>
            <li><a href="categories.html">Categories</a></li>
        </ul>
    </nav>
</header>






    <!-- Footer -->
    <footer>
        <p>&copy; 2024 ShopWithSimon. All rights reserved.</p>
      Designed by <a href="">Simon Otieno</a>
    </footer>
</body>
</html>

  <footer id="footer" class="footer light-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="sitename">MedTrack</span>
          </a>
          <div class="footer-contact pt-3">
            <p>MedTrack Kenya</p>
            <p>Karatina, Kenya</p>
            <p class="mt-3"><strong>Phone:</strong> <span>+25411 415 9302</span></p>
            <p><strong>Email:</strong> <span>simonotienoomuya@gmail.com</span></p>
          </div>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Medical Tracking</a></li>
            <li><a href="#">Free Consultation</a></li>
            <li><a href="#">Free Check-Ups</a></li>
            <li><a href="#">Patient Hanting</a></li>
            <li><a href="#">Autonated Notification </a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Hic solutasetp</h4>
          <ul>
            <li><a href="#">Molestiae accusamus iure</a></li>
            <li><a href="#">Excepturi dignissimos</a></li>
            <li><a href="#">Suscipit distinctio</a></li>
            <li><a href="#">Dilecta</a></li>
            <li><a href="#">Sit quas consectetur</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Frequently Asked questions</h4>
          <ul>
            <li><a href="#">How do I check the medical records</a></li>
            <li><a href="#">Where is the Med Track Headquarter</a></li>
            <li><a href="#">Can I book fo consultation online</a></li>
            <li><a href="#">Do we offer internship</a></li>
            <li><a href="#">What is the emergency hotlone number</a></li>
          </ul>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">MedTrack</strong> <span>All Rights Reserved</span></p>
      <div class="credits">

        Designed by <a href="https://bootstrapmade.com/">Simon Omuya</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
